.navbar{
    background-color: black;
}
.explore{
    margin-top: 15px;
}
.a>li{
    color: white;
    text-decoration: none;
}
li{
    
    margin-right: 5px;
    display: inline;
}
.b{
    margin-top: 5px;
}
.c{
    margin-right: 15px;
    color: white !important;
}
.c>span>button{
    border-radius: 2px;
    border-color: red;
    background-color: black;
    color: red;
}
.c{
    word-spacing: 20px;
}
.e{
    
    height: auto;
    background-color: aqua;
    width: 100%;
    position: relative;
}
.f>img{
    width: 100%;
    display: block;
    filter: brightness(60%);
    

}
.d{
   
    width: 50%;
    color: white;
    position:absolute;
    bottom: 100px;
    left: 20px;
}
.d>h3{
    font-size: 30px;
}
.d>p{
    font-size:20px ;
}
@media  only screen and (max-width:610px) {
    .f>img{
        filter: brightness(40%);
        height: 350px;
    }
    .d>h3{
        font-size: 20px;
    }
    .d>p{
        font-size:15px ;
    }
    .d{
        position: absolute;
        top: 40px;
    }
    
}
.two>h2{
    font-size: 50px;
}
.three>a{
    font-size: 40px;
    color: black;
   
}
.four{
    margin-top: 30px;
    margin-bottom: 20px;
}
.h{
    height: 500px;
    /* background-color: blue; */
    margin-bottom: 10px;
}
.i{
    height: 500px;
    /* background-color: rgb(145, 83, 33); */
    margin-bottom: 10px;
}
.j{
    height: 500px;
    /* background-color: rgb(255, 0, 170); */
    margin-bottom: 10px;
}
.k{
    height: 245px;
    /* background-color: rgb(28, 212, 120); */
    margin-bottom: 10px;
}
.l{
    height:  245px;
    /* background-color: rgb(85, 57, 76); */
    margin-bottom: 10px;
}
.m{
    width: 100%;
    height: 500px;
}
.m>img{
    
    width: 100%;
    height: 500px;
    
    
}
.n{
   margin-left: 5px;
 margin-top: -15%;
}
.n>h3{
    color: rgb(0, 0, 0);
}
    
@media  only screen and (max-width:550px){
    .n{
        margin-top: -30%;
    }
}
.o>img{

    width: 100%;
    height: 500px;
}
.p{
    margin-left: 5px;
    margin-top: -70%;
}
.p>h4{
    color: rgb(0, 0, 0);

}
@media  only screen and (max-width:490px){
    
    .p{
        margin-left: 5px;
        margin-top: -30%;
    }


}
@media  only screen and (max-width:764px){
    .p{
        margin-left: 5px;
        margin-top: -30%;
    }
}
.q>img{
    width: 100%;
    height: 245px;
   
}
.r{
   margin-left: 5px;
    margin-top: -30%;
}
.r>h5{
    color: rgb(0, 0, 0);
}
@media  only screen and (max-width:766px){
    .r{
        
        margin-top: -20%;
    }
}
.s>img{
    width: 100%;
    height: 245px;

}
.t{
    margin-left: 5px;
    margin-top: -35%;
}
.t>h5{
    color: rgb(0, 0, 0);
}
@media  only screen and (max-width:766px){
    .t{
        
        margin-top: -20%;
    }
}
.z{
    margin-top: 20px;
}
.u>img{
    width: 30%;
   border-radius: 100%;
}
.u>span{
    font-weight: bold;
}
.v>img{
    width: 30%;
    border-radius: 100%;
}
.v>span{
    font-weight: bold;
}
.w>img{
    height: 30%;
    width: 30%;
    border-radius: 100%;
}
.w>span{
    font-weight: bold;
}
.x>img{
    width: 30%;
    border-radius: 100%;
}
.x>span{
    font-weight: bold;   
}
.feature{
    width: 100%;
    height: 500px;
    background-color: black;
}
.pa>h3{
    
    color: white;

}
.pa>p{
    color: white;
}
.pa{
    padding: 190px 10px 200px 10px;
 text-align: justify;
}
@media  only screen and (max-width:576px){
    .feature{
        width: 100%;
        height: 750px;
        background-color: black;
    }
    .pa{
        padding: 20px;
     text-align: justify;
    }
}
.farhan{
    margin-top: 5%;
    width: 100%;
    height: 693px;
    background-color:white;
}
.jani>h2{
    font-size: 40px;
    padding: 20px;
}
.jani{
    padding: 190px 10px 200px 10px;
    text-align: justify;
}
.jani>p{
    font-size: 20px;
}
@media  only screen and (max-width:586px){
    .jani{
        padding: 30px;
        text-align: justify;
}
.dad{
     margin-top: 140px;
    height: auto;
    background-color: aqua;
    width: 100%;
    position: relative;
}
     
}
.dad{
     
    height: auto;
    background-color: aqua;
    width: 100%;
    position: relative;
}
.salman{
    padding: 30px 20px 30px 20px;
}
.mama{
    
    background-color: black;
    color: white;
    width: 100%;
    height: 350px;
}

.mami{
    padding: 50px 5px 20px 5px;
}
.mami>h4{
    margin-bottom: 20px;
}
.mueed{
    padding: 50px 5px 20px 5px; 
}

.hani{
    padding: 50px 5px 20px 5px;
}
.mus{
    padding: 50px 5px 20px 5px;
}
@media  only screen and (max-width:990px){
    .mama{
    
        background-color: black;
        color: white;
        width: 100%;
        height: 990px;
    }
}
@media  only screen and (max-width:770px){
    .mama{
    
        background-color: black;
        color: white;
        width: 100%;
        height: 990px;
    }

}